{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-6 landing-image">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-8 logo-font text-white h-100" style="font-family: 'Prata', serif; margin-top: 150px;">
                        New Jewellery Collection is out!
                </h1>
                <div class="">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0  text-uppercase">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-8 logo-font text-white h-100" style="font-family: 'Prata', serif; margin-top: 150px;">
                       
                </h1>
                <div class="">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0  text-uppercase">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

<!--Advantages-->
  <section>
    <div id="advantages">
          <div class="container">
            <div class="row mb-4">
              <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-3 h-150">
                  <div class="icon"><i class="fa fa-heart"></i></div>
                  <h3><a href="#" class="text-black">We love our customers</a></h3>
                  <p class="mb-0 text-black">We are known to provide best possible service ever</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-3 h-150">
                  <div class="icon"><i class="fa fa-tags"></i></div>
                  <h3><a href="#" class="text-black">Best prices</a></h3>
                  <p class="mb-0 text-black" >You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-3 h-150">
                  <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                  <h3><a href="#" class="text-black">100% satisfaction guaranteed</a></h3>
                  <p class="mb-0 text-black">Free returns on everything for 3 months.</p>
                </div>
              </div>
            </div>
            <!-- /.row-->
          </div>
          <!-- /.container-->
        </div>
        <!-- /#advantages-->


  </section>

  <!--FOOTER-->
  <footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6 ">
                    <h3> PAYMENTS</h3>
                   <p class="payments"><i class="fa fa-cc-visa lg"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-amex"></i>
                    <i class="fa fa-cc-paypal"></i></p>
                    
                	
                   
                
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Newsletter </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Subscribe to our Newsletter <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                    
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container text-center">
            <p class=""> Copyright © xeption by Miriam Gurrieri. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
{% endblock %}