{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block page_header %}
<div class="header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="mx-auto w-md-75">
   <!--Page title-->
   <div class="row">
      <div class="col text-center">
         <div class=" pt-5 pb-1">
           <h2 class="title-font pb-3 pb-lg-4">
            <span>Hello, </span> 
            <span>{{ user.username }}&#129505;</span>
         </h2>
         </div>
       
      </div>
   </div>
   <!--Personal details-->
  
{% endblock %}

