<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font  nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="letter-spacing: 3px;">
                ALL PRODUCTS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link" >
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font  nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="letter-spacing: 3px;">
                JEWELLERY &#11088;
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="jewellery">
                <a href="" class="dropdown-item">Necklaces</a>
                <a href="" class="dropdown-item">Earrings</a>
                <a href="" class="dropdown-item">Rings</a>
                <a href="" class="dropdown-item">Anklets</a>
                <a href="" class="dropdown-item">Hair Accessories</a>
            </div>
        </li>

        

        <li class="nav-item dropdown">
            <a class="logo-font  nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="letter-spacing: 3px;">
                GIFTS &#128150;
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="e-gift">
              
                <a href="" class="dropdown-item">E-Gift</a>
            </div>
        </li>
    </ul>
</div>