{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

   <div class="container-fluid text-center">
                <hr>
                <a class="category-badge text-decoration-none ">
                        <span class="p-3 mb-4 logo-font badge badge-white text-white bg-black text-center" style="font-size: 25px; font-family: 'Prata', serif;">{% trans "Password Reset" %}</span>
                    </a>
                <hr style="border: 2px white solid;">
          

                </div>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
<div class="text-center">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-black rounded-0 text-white" href="{% url 'account_login' %}">Back to Login</a>
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
</div>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}