{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
      <div class="container-fluid text-center">
                <hr>
                <a class="category-badge text-decoration-none ">
                        <span class="p-3 mb-4 logo-font badge badge-white text-white bg-black text-center" style="font-size: 25px; font-family: 'Prata', serif;">{% trans "Set Password" %}</span>
                    </a>
                <hr style="border: 2px white solid;">
          

                </div>
    

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-black" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}