{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="container-fluid text-center">
                <hr>
                <a class="category-badge text-decoration-none ">
                        <span class="p-3 mb-4 logo-font badge badge-white text-white bg-black text-center" style="font-size: 25px; font-family: 'Prata', serif;">{% trans "Change Password" %}</span>
                    </a>
                <hr style="border: 2px white solid;">
          

                </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn-black rounded-0 text-black" href="{% url 'account_login' %}">Back to Login</a>
        <button class="btn-black rounded-0 btn-success" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}