{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid text-center">
    <hr>
    <a class="category-badge text-decoration-none ">
        <span class="p-3 mb-4 logo-font badge badge-white text-white bg-black text-center"
            style="font-size: 25px; font-family: 'Prata', serif;">% trans "Sign Up Closed" %}</span>
    </a>
    <hr style="border: 2px white solid;">


</div>

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
{% endblock %}