{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h1 class="logo-font mb-4">{% trans "Verify Your E-mail Address" %}</h1>
     <hr style="border: 2px white solid;">

    <h3>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</h3>

{% endblock %}
