{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}

<div class="container-fluid text-center ">
    <hr>
    <a class="category-badge text-decoration-none ">
        <span class="p-3 mb-4 logo-font badge badge-white text-white bg-black text-center"
            style="font-size: 25px; font-family: 'Prata', serif;">{% trans "Verify Your E-mail Address" %}</span>
    </a>
    <hr style="border: 2px white solid;">


</div>

<h5 class="text-center">{% blocktrans %}We have sent an e-mail to you for verification. <br> Follow the link provided to
    finalize the signup process. <br> 
    Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</h5>

{% endblock %}