{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <a class="category-badge text-decoration-none">
                    <span class="p-3 mb-4 logo-font badge badge-white text-white bg-black"
                        style="font-size: 25px; font-family: 'Prata', serif;">Jewellery Care Tips</span>
                </a>
    
                <hr style="border: 2px white solid;">
            </div>
    
        </div>
    </div>
    
    
    
    
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 ">
                <div class="image-container my-5"><img class="img-fluid" src="/media/Earrings.jpg" /></div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-5">
                <div class="accordion text-center bg-white" id="exampleAccordion">
                    <div class="card">
                        <div class="card-header" id="exItem1Header">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed  text-black font-weight-bold" type="button"
                                    data-toggle="collapse" data-target="#exItem1" aria-expanded="false"
                                    aria-controls="exItem1">REMOVING JEWELLERY BEFORE SHOWER</button>
                            </h3>
                        </div>
                        <div id="exItem1" class="collapse" aria-labelledby="exItem1Header" data-parent="#exampleAccordion">
                            <div class="card-body">We recommend removing your Jewellery before stepping in to the shower as
                                well
                                as rings before hand-washing to keep it shiny for longer.</div>
                        </div>
                    </div>
    
    
                    <div class="card">
                        <div class="card-header" id="exItem2Header">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                    data-toggle="collapse" data-target="#exItem2" aria-expanded="false"
                                    aria-controls="exItem1">USING LOTIONS & CREAMS</button>
                            </h3>
                        </div>
                        <div id="exItem2" class="collapse" aria-labelledby="exItem2Header" data-parent="#exampleAccordion">
                            <div class="card-body">Lotions & creams may contain acidic ingredients that react with your
                                pieces.<br> Avoid moisturizing areas of skin that get in contact with your pieces.</div>
                        </div>
                    </div>
    
                    <div class="card">
                        <div class="card-header" id="exItem3Header">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                    data-toggle="collapse" data-target="#exItem3" aria-expanded="false"
                                    aria-controls="exItem3">USING PERFUMES</button>
                            </h3>
                        </div>
                        <div id="exItem3" class="collapse" aria-labelledby="exItem3Header" data-parent="#exampleAccordion">
                            <div class="card-body">Avoid spraying on perfume directly on your jewellery.<br> Tip: Always
                                wear your jewellery after you've sprayed your perfume, best avoiding your neck or wrists.
                            </div>
                        </div>
                    </div>
    
    
                    <div class="card">
                        <div class="card-header" id="exItem4Header">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                    data-toggle="collapse" data-target="#exItem4" aria-expanded="false"
                                    aria-controls="exItem4">STORING YOUR JEWELLERY</button>
                            </h3>
                        </div>
                        <div id="exItem4" class="collapse" aria-labelledby="exItem4Header" data-parent="#exampleAccordion">
                            <div class="card-body">Store your jewellery pieces in a cool, dry place in a box or pouch that
                                comes with your piece.</div>
                        </div>
                    </div>
    
                    <div class="card">
                        <div class="card-header" id="exItem5Header">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                    data-toggle="collapse" data-target="#exItem5" aria-expanded="false"
                                    aria-controls="exItem5">SWIMMING WITH YOUR JEWELLERY ON</button>
                            </h3>
                        </div>
                        <div id="exItem5" class="collapse" aria-labelledby="exItem5Header" data-parent="#exampleAccordion">
                            <div class="card-body">Avoid swimming with your pieces as chlorine & sea water will react with
                                metals and cause it to tarnish.</div>
                        </div>
                    </div>
    
    
                    <div class="card">
                        <div class="card-header" id="exItem6Header">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                    data-toggle="collapse" data-target="#exItem6" aria-expanded="false"
                                    aria-controls="exItem6">SLEEPING WITH YOUR JEWELLERY ON.</button>
                            </h3>
                        </div>
                        <div id="exItem6" class="collapse" aria-labelledby="exItem6Header" data-parent="#exampleAccordion">
                            <div class="card-body">Remove your pieces before going to bed to avoid any accidents that may
                                cause damage to the pieces.</div>
                        </div>
                    </div>
    
    
    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

